<div class="fixed top-4 left-1/2 transform -translate-x-1/2 z-[1002] space-y-2">
  @for (msg of messages(); track msg.id) {
    <div
        class="flex items-center gap-2 px-4 py-2 bg-white rounded-md shadow-[0_3px_6px_-4px_rgba(0,0,0,0.12),_0_6px_16px_rgba(0,0,0,0.08),_0_9px_28px_8px_rgba(0,0,0,0.05)] pointer-events-auto"      [ngClass]="{
        'animate-fade-slide': msg.visible,
        'animate-fade-slide-out': !msg.visible
      }"
        (mouseenter)="toastService.pause(msg.id)"
        (mouseleave)="toastService.resume(msg.id)"
      >
      <span
        class="text-xl"
        [ngClass]="{
          'text-green-500': msg.type === 'success',
          'text-red-500': msg.type === 'error',
          'text-yellow-500': msg.type === 'warning'
        }"
      >
      @switch (msg.type) {
        @case ('success') {
          <!-- Check Circle -->
          <svg class="w-5 h-5 text-green-600 mt-1" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
          </svg>
        }
        @case ('error') {
          <!-- X Circle -->
          <svg class="w-5 h-5 text-red-500 flex-shrink-0 mt-0.5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
          </svg>
        }
        @case ('warning') {
          <!-- Exclamation Circle -->
          <svg class="w-5 h-5 text-yellow-500 mt-1" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-9a1 1 0 112 0v3a1 1 0 11-2 0V9zm1-4a1.25 1.25 0 100 2.5A1.25 1.25 0 0010 5z" clip-rule="evenodd"/>
          </svg>
        }
        @default {
          <!-- Info Circle -->
          <svg class="w-5 h-5 text-gray-500 mt-1" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M18 10A8 8 0 11-2 10a8 8 0 0120 0zm-9-1a1 1 0 10-2 0v4a1 1 0 102 0V9zm-1-3a1.25 1.25 0 100 2.5A1.25 1.25 0 008 6z" clip-rule="evenodd"/>
          </svg>
        }
      }

      </span>
      <span class="text-sm text-gray-700">{{ msg.message }}</span>
    </div>
  }
</div>
