<div class="fixed top-4 left-1/2 transform -translate-x-1/2 z-[1002] space-y-2">
  @for (msg of messages(); track msg.id) {
    <div
        class="flex items-center gap-2 px-4 py-2 bg-white rounded-md shadow-[0_3px_6px_-4px_rgba(0,0,0,0.12),_0_6px_16px_rgba(0,0,0,0.08),_0_9px_28px_8px_rgba(0,0,0,0.05)] pointer-events-auto"      [ngClass]="{
        'animate-fade-slide': msg.visible,
        'animate-fade-slide-out': !msg.visible
      }"
        (mouseenter)="toastService.pause(msg.id)"
        (mouseleave)="toastService.resume(msg.id)"
      >
      <span
        class="text-xl"
        [ngClass]="{
          'text-green-500': msg.type === 'success',
          'text-red-500': msg.type === 'error',
          'text-yellow-500': msg.type === 'warning'
        }"
      >
      @switch (msg.type) {
        @case ('success') {
          <img src="/assets/icons/svgs/green-check-circle.svg" alt="green-check-circle-3" class="min-w-4 min-h-4">
        }
        @case ('error') {
          <img src="/assets/icons/svgs/red-close-circle.svg" alt="red-close-circle" class="min-w-5 min-h-5">
        }
        @case ('warning') {
          <img src="/assets/icons/svgs/yellow-alert.svg" alt="yellow-alert" class="min-w-5 min-h-5">
        }
        @default {
          <img src="/assets/icons/svgs/gray-info.svg" alt="gray-info" class="min-w-5 min-h-5">
        }
      }

      </span>
      <span class="text-sm text-gray-700">{{ msg.message }}</span>
    </div>
  }
</div>
