services:
  dev:
    container_name: angular-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules

  prod:
    container_name: angular-prod
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
